.fileHash {
    @include use-scroll(#008b8b);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 32px;
    font-family: Candara;
    overflow: auto;

    .workspaceTitle {
        position: relative;
        height: 48px;
        margin: 12px 0;
        font-size: 32px;
        line-height: 48px;
    }

    .blockTitle {
        position: relative;
        height: 48px;
        margin: 12px 0;
        font-size: 32px;
        line-height: 48px;
    }

    .fileInfoLine {
        position: relative;
        height: 24px;
        margin: 8px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .fileInfoLabel {
            position: relative;
            width: 100px;
            font-size: 16px;
        }

        .fileInfoValue {
            position: relative;
            width: calc(100% - 100px);
        }

        .fileInfoBtn {
            position: relative;
            height: 100%;
            padding: 0 8px;
            border-radius: 4px;
            border: solid 1px #008b8b;
            font-size: 12px;
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:first-child) {
                margin-left: 8px;
            }

            &:hover {
                background-color: #008b8b1a;
            }

            &:active {
                background-color: #008b8b33;
            }
        }
    }


    .optionContainerBox {
        @include use-scroll(#008b8b1a);
        position: relative;
        width: 100%;
        height: 48px;
        white-space: nowrap;
        overflow: auto hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .operationButton {
        position: relative;
        width: fit-content;
        min-width: 80px;
        height: 32px;
        margin-right: 16px;
        padding: 0 8px;
        border: solid 1px #008b8b;
        border-radius: 8px;
        font-weight: bold;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #008b8b1a;
        }

        &:active {
            background-color: #008b8b33;
        }
    }

    .sourceBox {
        @include use-scroll(#008b8b);
        position: relative;
        width: 100%;
        height: 150px;
        padding: 8px;
        border: solid 1px #008b8b;
        border-radius: 8px;
        background-color: #008b8b0d;
        color: #008b8b;
        resize: none;
    }
}