.error-not-found {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .spin {
        @include use-blink(5s);
    }

    .error-msg {
        color: #ff6e42;
        font-style: italic;
    }
}