.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
        @include use-scroll(#ed46121a);
        position: relative;
        width: 300px;
        height: 100%;
        border-right: solid 1px #ed46121a;
        overflow: auto;
    }

    .workspace {
        position: relative;
        width: calc(100% - 300px);
        height: 100%;
        color: darkcyan;
    }
}